:root{
    --primary-white:#FFFFFF;
    --primary-black:#000000;    
   --header-background:#161635;    
   --primary-background: #373B44;  /* fallback for old browsers */
   --primary-webkit-linear-gradient: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
   --primary-linear-gradient: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
   --hover-menu-container: #B3B3DF; 
   --invalid-form: #c03636;
   
   /* Font-Family */
   --primary-futura-lt:'Futura LT';
   }


 .main-container .contact{
    height: 100%;
    width: 100%;
    background: var(--primary-background);
    background: var(--primary-webkit-linear-gradient);
    background: var(--primary-linear-gradient);  
     /*layout  */
     display: flex;
     align-items: center;
     justify-content: center;
 }  

 .main-container .contact .contact-left{
    height: 548px;
    width: 490px;
    padding: 50px 0px;
    /* layout */
    display: flex;
    justify-content: flex-end;
 }

 .main-container .contact .contact-left p {
    height: 202px;
    width: 457px;
    color: var(--primary-white);
    font-family: var(--primary-futura-lt);
    font-size: 48px;
    font-weight: normal;
 }

 .main-container .contact .contact-right{
    height: 548px;
    width: 490px;
    padding: 50px 0px;
 }

 .main-container .contact .contact-right form{
    height: 479px;
    width: 490px;
    padding: 0px 20px;
    /* layout */
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
 }

 .main-container .contact .contact-right form .firstname{
    height: 70px;
    width: 210px;
    margin: 20px 0px 45px;
 }


 .main-container .contact .contact-right form .firstname  label{
height: 16px;
width: 210px;
color: var(--primary-white);
font-family: var(--primary-futura-lt);
font-size: 16px;
}

.main-container .contact .contact-right form .firstname input{
    height: 41px;
    width: 210px;
    padding: 3px 3px 3px 8px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--primary-white);
    color: var(--primary-white);
    outline: none;
}


.main-container .contact .contact-right form .firstname input:hover{
    border-bottom: 2px solid var(--primary-white);
}

.main-container .contact .contact-right form .firstname input:focus{
    color: var(--primary-white);
    border-bottom: 2px solid var(--primary-white);
}

.main-container .contact .contact-right form .firstname input:focus:invalid{
    border: 3px solid var(--invalid-form);
}

.main-container .contact .contact-right form .lastname{
    height: 70px;
    width: 210px;
    margin: 20px 0px 45px;
 }

 .main-container .contact .contact-right form .lastname  label{
    height: 16px;
    width: 210px;
    color: var(--primary-white);
    font-family: var(--primary-futura-lt);
    font-size: 16px;
    }

    .main-container .contact .contact-right form .lastname input{
        height: 41px;
        width: 210px;
        padding: 3px 3px 3px 8px;
        background: none;
        border: none;
        border-bottom: 1px solid var(--primary-white);
        color: var(--primary-white);
        outline: none;
    }
    
    .main-container .contact .contact-right form .lastname input:focus{
        color: var(--primary-white);
        border-bottom: 3px solid var(--primary-white);
    }

    .main-container .contact .contact-right form .lastname input:focus:invalid{
        border: 3px solid var(--invalid-form);
    }

    
    .main-container .contact .contact-right form .lastname input:hover{
        border-bottom: 2px solid var(--primary-white);
    }


.main-container .contact .contact-right form .email{
    height: 70px;
    width: 450px;
    margin: 0px 0px 39px;
}

.main-container .contact .contact-right form .email label{
    height: 16px;
    width: 450px;
    padding: 0px  0px 13px;
    margin: 0px 20px 0px 0px;
    color: var(--primary-white);
    font-family: var(--primary-futura-lt);
    font-size: 16px;
}

.main-container .contact .contact-right form .email input{
    height: 41px;
    width: 450px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--primary-white);
    color: var(--primary-white);
    padding: 3px 3px 3px 8px;
    font-family: var(--primary-futura-lt);
    outline: none;
}

.main-container .contact .contact-right form .email input:focus{
    color: var(--primary-white);
    border-bottom: 3px solid var(--primary-white);
}

.main-container .contact .contact-right form .email input:focus:invalid{
    border: 3px solid var(--invalid-form);
}

.main-container .contact .contact-right form .email input:hover{
    border-bottom: 2px solid var(--primary-white);
}

.main-container .contact .contact-right form .leave-message{
    height: 127px;
    width: 450px;
    /* layout */
    display: flex;
    flex-direction: column;
}

.main-container .contact .contact-right form .leave-message label{
    height: 16px;
    width: 450px;
    color: var(--primary-white);
    font-family: var(--primary-futura-lt);
    font-size: 16px;
    margin: 0px 0px 13px;
    padding: 0px 20px 0px 0px;
}

.main-container .contact .contact-right form .leave-message textarea{
    height: 98px;
    width: 450px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--primary-white);
    color: var(--primary-white);
    padding: 8px 3px 3px 8px;
    font-family: var(--primary-futura-lt);
    resize: unset;
    outline: none;
}

.main-container .contact .contact-right form .leave-message textarea:focus:invalid{
    border: 3px solid var(--invalid-form);
}

.main-container .contact .contact-right form .leave-message textarea:hover{
    border-bottom: 2px solid var(--primary-white);
}

.main-container .contact .contact-right form .leave-message textarea:focus{
    border-bottom: 2px solid var(--primary-white);
}

.main-container .contact .contact-right form button{
    height: 43px;
    width: 150px;
    background: none;
    border: 1px solid var(--primary-white);
    border-radius: 4px 4px 4px 4px;
    color: var(--primary-white);
    font-size: 16px;
    transition: all 300ms ease;
    outline: none;
}

.main-container .contact .contact-right form button:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
    cursor: pointer;
}


/* Media Queries */

@media (max-width:365px){
    .main-container .contact{
        flex-wrap: wrap;
    }

    .main-container .contact .contact-left {
        height: 172px;
        width: 100%;
        padding: 50px 30px;
        justify-content: flex-start;
}

.main-container .contact .contact-left p {
    height: 100px;
    width: 225px;
    font-size: 24px;
}

.main-container .contact .contact-right{
    height: 100%;
    padding: unset;
}

.main-container .contact .contact-right form {
    height: 100%;
    width: 100%;
    padding: 30px 30px;
}

.main-container .contact .contact-right form .firstname {
    height: 70px;
    width: 100%;
    margin: 10px 0px 16px;
}

.main-container .contact .contact-right form .firstname input{
    width: 100%;
}

.main-container .contact .contact-right form .lastname {
    height: 70px;
    width: 100%;
    margin: 0px 0px 16px;
}

.main-container .contact .contact-right form .lastname input{
    width: 100%;
}

.main-container .contact .contact-right form .email {
    height: 70px;
    width: 100%;
    margin: 0px 0px 16px;
}

.main-container .contact .contact-right form .email label{
    width: 100%;
}

.main-container .contact .contact-right form .email input{
    width: 100%;
}


.main-container .contact .contact-right form .leave-message {
    height: 70px;
    width: 100%;
    margin: 0px 0px 33px;
}

.main-container .contact .contact-right form .leave-message label{
    width: 100%;
}

.main-container .contact .contact-right form .leave-message textarea{
    width: 100%;
}

.main-container .contact button{
    height: 42px;
    width: 163px;
}


}